<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAaSvxnVAyf3T-N07CKp0RYoWM7LhvxP-k</string>
	<key>GCM_SENDER_ID</key>
	<string>318000771587</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.quocmanh.fchat-app</string>
	<key>PROJECT_ID</key>
	<string>fchat-app-6dd34</string>
	<key>STORAGE_BUCKET</key>
	<string>fchat-app-6dd34.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:318000771587:ios:2da2a41e9a467493901436</string>
</dict>
</plist>